* {
	font-family: Georgia;
}

body {
	margin: 0;
	padding: 0;
	background-color: #DDF;
}

#header {
	height: 40px;
	background-color: white;	
	padding: 15px;
}

#headertitle {
	font-size: 24px;
	float: left;
}

#headermenu {
	float: right;
}

#menu {
	padding: 5px;
	background-color: #EEC;	
}

#loginDialog {
	text-align: center;
	width: 400px;
	background-color: white;
	border: 1px solid #CCC;
	margin: 100px auto 0px auto;
}