<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">
	<id>appointments</id>
	<name>Appointment Manager</name>
	<version>0.1</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>EHSDI</author>
	<description>Basic appointment manager.
	</description>

	<activator>@MODULE_PACKAGE@.AppointmentsActivator</activator>
	
	<require_version>1.4</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.extension.html.GutterLink</class>
	</extension>
	
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>@MODULE_PACKAGE@.extension.html.PatientDashboardTab</class>
	</extension>
	
	<privilege>
		<name>View Appointments</name>
		<description>Able to view patient appointments</description>
	</privilege>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		Appointment.hbm.xml
	</mappingFiles>
</module>

