
body {
	margin: 0;
	padding: 0;
	background-color: #FFC;
}

#header {
	padding: 10px;
	color: white;
	background-image: url(images/fruit.jpg);
}

#header h1 {
	margin: 0;
}

#content {
	padding: 10px;
}

td {
	background-color: white;
}