/* For the exercises pages */

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	color: #13182B;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #13182B;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #172657;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #172657;
}

hr {
	background-color: #006;
	height: 2px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #2C6A9E;
}

h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #30438F;
}

pre {
	font-family: monospace;
	background-color: #CCC;
}

code {
	font-family: monospace;
}

.solution {
	background-color: #F2F5FF;
	padding: 3px;
	border: 1px dashed #000;
}

